# Conda
.conda/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store

#env
.env

# ML model files
ML-Backend/models/
*.pkl

.hintrc
anaconda_projects/